<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<h1>Gastos</h1>
<a href="/task/new" class="btn">Cadastrar Novo Gasto</a>
<div class="content">
    <div class="tasks">
        <div class="card-task"  th:each="task : ${tasks}">
            <h2 th:text="${task.name}"></h2>
            <p th:text="${task.description}"></p>
            <p th:text="'R$'+ ${task.price}"></p>
            <p th:text="'Data Inicio: '+${task.dateStart}"></p>
            <p th:text="'Data de Vencimento: '+${task.dateEnd}"></p>
            <div class="actions">
                <form th:action="@{'/task/{id}'(id=${task.id})}" th:method="DELETE">
                    <button class="btn red">apagar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="despesas_totais">
    <h1>Despesas Totais</h1>
    <p class="despesas_linha">Total Gasto:R$ <span th:text="${totalGasto}"></span></p>
</div>

<div class="despesas_nome">
    <h1>Quantidade de Despesas por Pessoa</h1>
    <div class="lista">
        <ul>
            <li th:each="entry : ${quantidadeTarefas}" class="linha">
                <p th:text="${entry.key} + ' Tem: '+ ${entry.value} + ' Contas para pagar'"></p>
            </li>
        </ul>
    </div>
</div>

<div class="despesas_nome">
    <h1>Gasto por Pessoa</h1>
    <div th:each="entry : ${gastosPorPessoa}">
        <div>
            <span th:text="${entry.key}"></span>: R$ <span th:text="${entry.value}"></span>
        </div>
    </div>
</div>

<script>
</script>
</body>
</html>